@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

input{
	outline: 0;
}
img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
body{
	background: rgba(100, 100, 100, .1);
}
li{
	list-style: none;
}
.list_container:after{
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	background: linear-gradient(90deg,transparent ,white);
	width: 5%;
	height: 100%;
}
.list::-webkit-scrollbar,
.horizontal-scroll::-webkit-scrollbar{
	height: 0;
}

::-webkit-scrollbar{
	width: 3px;
}

::-webkit-scrollbar:hover{
	width: 7px;
}

::-webkit-scrollbar-thumb{
	background: #E51E54 ;
	border-radius: 10rem;
}